@import-normalize; /* bring in normalize.css styles */

body {
  font-family: montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: montserrat, sans-serif;

}

button {
  margin-right: 1rem;
  cursor: pointer;
  padding: 1rem;
  background-color: violet;
  border-style: none;
  color: rgb(34, 33, 33);
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 4px 4px aquamarine;
  border-radius: 1rem;
}

button:hover {
  box-shadow: 4px 4px rgba(127, 255, 212, 0.6);
  background-color: rgba(238, 130, 238, 0.6);
}

ul {
  list-style: none;
  padding: 0;
}
